.text-temp {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.bg {
    background-color: rgba(191, 255, 234, 0.308);
}

.mtop {
    margin-top: -120px;
}
.mtop- {
    margin-top: -298px;
}

label {
    margin-top: 15px;
}